body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://i.imgur.com/Y9Wzycr.png');
}

a {
  color: #00B7FF;
}

h1, h2, label {
  color: whitesmoke;
  background-color: #7A858A;
  border-radius: 6px;
}

#homeH1 {
  width: 18em;
}

#indexH1 {
  width: 7em;
}

#detailsH1 {
  width: 8em;
}

#newH2 {
  width: 12em;
}

#ticketH2 {
  width: 5em;
}

#destH2 {
  width: 7em;
}

table {
  text-align: center;
  border-spacing: 15px;
  background-color: lightgrey;
  border-radius: 6px;
  opacity: .8
}

#details {
  background-color: lightgrey;
  border-radius: 6px;
  opacity: .8;
  width: 30em;
  line-height: 2;
  
}

a {
  color: whitesmoke;
}

a:link { 
  text-decoration: none; 
}


a:visited { 
  text-decoration: none; 
}


a:hover { 
  text-decoration: underline; 
}


a:active { 
  text-decoration: none; 
}

nav {
  background-color: #7A858A ;
  text-align: center;
}
